<div class="jumbotron">
  <h1>Music Organizer</h1>
</div>

<form action="/artists" method="post">
  <div class="form-group">
    <h2>Input artist</h2>
    <input name="artist" class="form-control" type="text" placeholder= "Enter artist"><br>
    <button type="submit" class="btn">Submit</button>
  </div>
  <div id="output">
    <h2>ARTISTS!</h2><br>

    <% @list.each do |x| %>
    <!-- <h4><%= x. %></a></h4> -->
    <% end %>

  </div>
</form>
